# compiled output
dist/
node_modules/

# logs
logs/*
!logs/.gitkeep
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# env
.env
.env.prod

# test
coverage/

# dependencies
node_modules/
